$red: #a52424;
$green: #388E3C;
$gold: #ffcc00;
$white: #FFFFFF;
$blue: #303F9F;
$black: #242424;
$gray: #828282;

$font: 'Kanit';

$myColor: #558657;
$otherColor: #865c55;
$anonimousColor: #314b98;

$nickColor: #ffc4ce;
$timestampColor: #d9ffc4;