$red: #a52424;
$green: #d9ffc4;
$gold: #ffcc00;
$white: #FFFFFF;
$blue: #303F9F;
$black: #242424;
$gray: #828282;

$font: 'Kanit';

$myColor: #558657;
$otherColor: #865c55;
$anonimousColor: #314b98;

$nickColor: #ffc4ce;
$timestampColor: #d9ffc4;
$shadowColor:#bfbfbf;

//room cards
$defaultBkgrnd: rgb(255,235,0);
$lienarGradient: linear-gradient(162deg, rgba(255,235,0,1) 0%, rgba(240,0,255,1) 30%, rgba(9,255,0,1) 65%, rgba(219,255,0,1) 100%);
//hover font color
$textShadowColor: #FC0;
