@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.Messaje0,
.Messaje1,
.Messaje2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 30px;
    margin: 5%;
    padding: 5%;
    flex-wrap: wrap;

    -webkit-box-shadow: 7px 7px 10px -3px $shadowColor;
    -moz-box-shadow: 7px 7px 10px -3px $shadowColor;
    box-shadow: 7px 7px 10px -3px $shadowColor;
}

.content {
    margin-bottom: 2%;
}

.nick {
    color: $nickColor;
}

.texto {
    font-size: large;
    margin: 0;
}

.timestamp {
    color: $timestampColor;
}

.Messaje0 {
    border-start-start-radius: 5px;
    background-color: $otherColor;
    margin-left: 0px;
}

.Messaje1 {
    border-end-end-radius: 5px;
    background-color: $myColor;
    margin-left: 50%;
}

.Messaje2 {
    background-color: $anonimousColor;
    margin-left: 0px;
}