@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.Messaje0 , .Messaje1,.Messaje2{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%;
    border-radius: 30px;
    
    margin: 5%;
}

.nick{
    color: $gray;
    float: right;
    margin-right: 5%;
}

.texto{
   font-size: large;
   margin: 0;
}

.Messaje0{
    border-start-start-radius: 5px;
    background-color: $otherColor;
    margin-left: 0px;
}

.Messaje1{
    border-end-end-radius: 5px;
    background-color: $myColor;
    margin-left: 50%;
}

.Messaje2{
    background-color: $anonimousColor;
    margin-left: 0px;
}